<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-extra-heading" jhiTranslate="artoshApp.userExtra.home.createOrEditLabel">Create or edit a User Extra</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artoshApp.userExtra.gramarScore" for="field_gramarScore">Gramar Score</label>
                    <input type="number" class="form-control" name="gramarScore" id="field_gramarScore"
                           formControlName="gramarScore"/>
                    <div *ngIf="editForm.get('gramarScore')!.invalid && (editForm.get('gramarScore')!.dirty || editForm.get('gramarScore')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gramarScore')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gramarScore')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('gramarScore')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artoshApp.userExtra.vocabularyScore" for="field_vocabularyScore">Vocabulary Score</label>
                    <input type="number" class="form-control" name="vocabularyScore" id="field_vocabularyScore"
                           formControlName="vocabularyScore"/>
                    <div *ngIf="editForm.get('vocabularyScore')!.invalid && (editForm.get('vocabularyScore')!.dirty || editForm.get('vocabularyScore')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vocabularyScore')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vocabularyScore')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vocabularyScore')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artoshApp.userExtra.lisningScore" for="field_lisningScore">Lisning Score</label>
                    <input type="number" class="form-control" name="lisningScore" id="field_lisningScore"
                           formControlName="lisningScore"/>
                    <div *ngIf="editForm.get('lisningScore')!.invalid && (editForm.get('lisningScore')!.dirty || editForm.get('lisningScore')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lisningScore')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lisningScore')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lisningScore')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artoshApp.userExtra.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artoshApp.userExtra.language" for="field_language">Language</label>
                    <select class="form-control" id="field_language" name="language" formControlName="languageId">
                        <option *ngIf="!editForm.get('languageId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="languageOption.id" *ngFor="let languageOption of languages; trackBy: trackById">{{ languageOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('languageId')!.invalid && (editForm.get('languageId')!.dirty || editForm.get('languageId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('languageId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
