<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="word">
            <h2><span jhiTranslate="artoshApp.word.detail.title">Word</span> {{ word.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="artoshApp.word.word">Word</span></dt>
                <dd>
                    <span>{{ word.word }}</span>
                </dd>
                <dt><span jhiTranslate="artoshApp.word.description">Description</span></dt>
                <dd>
                    <span>{{ word.description }}</span>
                </dd>
                <dt><span jhiTranslate="artoshApp.word.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ word.imageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="artoshApp.word.category">Category</span></dt>
                <dd>
                    <div *ngIf="word.categoryId">
                        <a [routerLink]="['/category', word.categoryId, 'view']">{{ word.categoryName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/word', word.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
